<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Биржа фриланс услуг</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="https://yt3.googleusercontent.com/ytc/AOPolaSpEF6ZJXNmaT-CH9a_23tHUz715KXvpKGp26xR=s900-c-k-c0x00ffffff-no-rj" type="image/png">
        <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(99168902, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/99168902" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="https://yt3.googleusercontent.com/ytc/AOPolaSpEF6ZJXNmaT-CH9a_23tHUz715KXvpKGp26xR=s900-c-k-c0x00ffffff-no-rj" alt="Логотип" style="width: 40px;">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('articles') }}">Статьи</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('exchange') }}">Биржа</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('submit_resume') }}">Разместить резюме</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contacts') }}">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('developers') }}">Разработчики</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center py-4">
        <p>© 2024 Биржа фриланс услуг. Все права защищены.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>